* {
    box-sizing: border-box;
}

.container {
    margin: 0px auto;
    width: 500px;
    text-align: center;
    background-color: bisque;
    color: brown;
}

.btns {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: auto;
}
button {
    padding: 5px 20px;
    color: brown;
}

.output {
    padding-bottom: 20px;
}